@model IEnumerable<WebCourses.Models.Course>

@{
    ViewData["Title"] = "Apply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Apply for a course</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" action="/Courses/Register" method="Post">
            <br>
            <select class="form-control" name="courseId">
                @foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Title: @item.User.Email</option>
                }
            </select>
            <br>
            <input type="submit" value="Apply" class="btn btn-primary">
        </form>
    </div>
</div>
