@model IEnumerable<WebCourses.Models.Course>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Your courses";
}

    <h2>Courses</h2>


    <div class="panel-body">
        @foreach (var course in Model)
        {
            <div class="list-group">
                <a asp-action="Details" asp-route-id="@course.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><b>@course.Title</b></h5>
                    </div>
                    <p class="text-primary text-nowrap">@course.Description</p>
                </a>
            </div>
        }

        @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Teacher"))
        {
            <a asp-action="Create" class="btn btn-primary pull-right" role="button">
                Create new
            </a>
        }

        @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Student"))
        {
            <a asp-action="Apply" class="btn btn-primary pull-right" role="button">
                Apply for
            </a>
        }
    </div>



