@model WebCourses.Models.Question
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Teacher"))
{
    <h2>Create</h2>

    <h4>Question</h4>
    <hr />
    @switch (ViewBag.Choice) {
        case (Question.QuestionType.SingleAnswer):
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create" asp-route-courseId ="@ViewContext.RouteData.Values["courseId"]" asp-route-testId="@ViewContext.RouteData.Values["testId"]">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @*<div class="form-group">
                            <label asp-for="TestId" class="control-label"></label>
                            <select asp-for="TestId" class="form-control" asp-items="ViewBag.TestId"></select>
                        </div>*@
                        <div class="form-group">
                            <label asp-for="Content" class="control-label"></label>
                            <input asp-for="Content" class="form-control" />
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="Type" class="control-label"></label>*@
                            @*<select type="hidden" asp-for="Type" class="form-control"></select>*@
                            <input type="hidden" asp-for="Type" class="form-control" value="@ViewBag.Choice"/>
                            @*<span asp-validation-for="Type" class="text-danger"></span>
                        </div>*@
                        @*<div class="form-group">
                            <label asp-for="AnswersCount" class="control-label"></label>
                            <input asp-for="AnswersCount" class="form-control" />
                            <span asp-validation-for="AnswersCount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CorrectAnswersCount" class="control-label"></label>
                            <input asp-for="CorrectAnswersCount" class="form-control" />
                            <span asp-validation-for="CorrectAnswersCount" class="text-danger"></span>
                        </div>*@
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
            break;
     }
    @*<div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TestId" class="control-label"></label>
                    <select asp-for="TestId" class="form-control" asp-items="ViewBag.TestId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" class="form-control"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AnswersCount" class="control-label"></label>
                    <input asp-for="AnswersCount" class="form-control" />
                    <span asp-validation-for="AnswersCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CorrectAnswersCount" class="control-label"></label>
                    <input asp-for="CorrectAnswersCount" class="form-control" />
                    <span asp-validation-for="CorrectAnswersCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>*@

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
